@charset "utf-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: #F0A6CA;
    height: 100vh;
    width: 100vw;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    width: 252px;
    height: 490px;
    background-color: white;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#formulario{
    padding: 10px;
    display: block;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

section#login div#imagem{
    background: url(../imagens/jubiju.png) no-repeat;
    background-position:center center;
    background-size: cover;
    height: 200px;
    margin: 0px;
    display: block;
}

form > div.campo{
    background-color: #F0A6CA;
    border: 2px solid #F0A6CA;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

.campo label{
    display: none;    
}

.campo > span{
    color: white;  
    font-size: 2em;
    width: 40px;
    padding: 4px;
}

div.campo > input{
    background-color: #ACB2D4;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    transform: translateY(-10.5px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #ACB2D4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

form > input[type=submit]:hover{
    background-color:#797c94;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 6px;
    background-color: white;
    color:#7a7f97 ;
    border: 1px solid #ACB2D4;
    text-decoration: none;
    border-radius: 4px;
}

form > a.botao:hover{
    background-color: #bac1e64d;
}

form > a.botao > span{
    font-size: 0.9em;
}